/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

/*me*/
.input-field {
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    outline: none;
}

.input-field:focus {
    border-color: #2196F3;
}

.form-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #45a049;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
}

button:disabled {
    background-color: #ccc;   /* gray background */
    color: #666;              /* dimmed text */
    cursor: not-allowed;      /* show "blocked" cursor */
    opacity: 0.7;             /* slightly transparent */
}
